/**** Sass Variables ****/

.container {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card1-wrapper {
  width: 400px;
  height: 300px;
  position: relative;
}

.card1 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 350px;
  transform: translate(-50%, 0%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s; 
  
  .card1-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
    transform: translateY(-40px);
  }
  
  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
  
}

.card1:hover .card1-image {
  transform: translateY(-30%);
  transition: all .5s;
}

.card1:hover .details{
  padding-top: 0%;
  transform: translateY(-10%);
  transition: all .5s;
}



.card1:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}
.card1:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.card1:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.card1:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 90px;
  z-index: 1;
  padding-top: 20%;
  
  h2 {
    margin: 27px 0;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    line-height: 0px;
     
    .job-title {
        font-size: 0.5rem;
        line-height: 0px;
        color: #333;
        font-weight: 300;
    }
  }
}


.jane {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 10px;
  transition: .4s;
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.card1:hover .profile-img--two {
  transform: rotateY(180deg);
}

.card1:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}


.card {
  .card-header {
    background: linear-gradient(45deg, #a55e16, #ffbb00);
  }
}


.mat-button.btn.btn-danger,
.mat-raised-button.btn.btn-danger,
.mat-raised-button.btn:not([class*='mat-elevation-z']).btn-danger,
.btn.btn-danger {
  color: #fff;
  background: linear-gradient(45deg, #a55e16, #ffbb00);
  border-color: #f4e736;
  box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}
