<div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;padding-top: 7%;">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Products</h4>
        <p class="card-category">all product</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div *ngFor="let product of items.value" class="col-md-3" style="padding-top: 3%;">
            <div (click)= oneproduct(product.productNamei)  class="wrapper">
              <div class="container containerx">
                <div class="top">

                  <img src={{product.photo}} height=100% width=100% alt="product">

                </div>
                <div class="bottom">
                  <div class="left">
                    <div class="details">

                      <h1>{{product.productName}}</h1>

                    </div>
                  </div>
                </div>
              </div>
              <div class="inside">
                <div class="icon"><i class="material-icons">info_outline</i></div>
                <div class="contents">
                  <h6><b>Ratings</b></h6>
                  {{product.rate}}


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  