
  <div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;padding-top: 7%;">
    <div class="col-lg-11">
      <div class="card">

        <div class="card-header card-header-warning">
          <h4 class="card-title">Distributors</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3" style="padding-top: 3%;" >
              <div class="wrapper">
                <div class="container">
                  <div class="top"></div>
                  <div class="bottom">
                    <div class="left">
                      <div class="details">
                        <h1>Chair</h1>
                        <p>£250</p>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="inside">
                  <div class="icon"><i class="material-icons">info_outline</i></div>
                  <div class="contents">
                    <table>
                        <h6><b>Ratings</b></h6>
                        <head>
                          <!-- Font Awesome Icon Library -->
                          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                          <style>
                          .checked {
                            color: orange;
                          }
                          </style>
                          </head>
                          <body>
                          
                          <h6><b>Star Rating</b></h6>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          
                          </body>
                        
                        
                     
                      <h6><b>Countries</b></h6>
                      <ol>
                      <li>India</li>
                      <li>Itali</li>
                      <li>England</li>
                      </ol> 

                      <h6><b>Estates</b></h6>
                      <ol>
                      <li>Galle</li>
                      <li>Matara</li>
                      <li>Udugama</li>
                      </ol> 
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  