<!-- admin side bar -->
<!-- admin side bar logo -->
<div class="logo">
    <div >
        <img src="/assets/img/favicon.png" style="width:150px;height:150px;margin: 20%;margin-top: 8%;"/>
    </div> 
</div>

<div class="sidebar-wrapper">

  <!-- admin mobile side menu -->
  <div *ngIf="isMobileMenu()">
    <!-- search bar -->
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <!-- Acount dropmenu -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Edit Profile</a>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </li>

        <!-- product dropmenu -->
        <li class="nav-item dropdown">
            <a class="nav-link" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">local_cafe</i>
                <p>
                    <span class="d-lg-none d-md-block">Products</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
                    <button>
                        <a class="dropdown-item" routerLink="admin/product/add" style="margin-left: 30px;
                                            margin-top: 0px;">
                            <i class="material-icons" style="margin-right: 8px;">add_shopping_cart</i>
                            <p style="font-size:16px;">products add</p>
                        </a>
                    </button>
                    <a class="dropdown-item" routerLink="admin/product/view" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">emoji_food_beverage</i>
                        <p style="font-size:16px;">products view</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/product/edit" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">edit</i>
                        <p style="font-size:16px;">products edit</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/product/progress" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">assessment</i>
                        <p style="font-size:16px;">progress of products</p>
                    </a>
            </div>
        </li>

        <!-- distribtor dropmenu -->
        <li class="nav-item dropdown">
            <a class="nav-link" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">local_shipping</i>
                <p>
                    <span class="d-lg-none d-md-block">distributors</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item nav-link" routerLink="admin/distributor/add" style="margin-left: 30px;
                    margin-top: 0px;" >
                        <i class="material-icons" style="margin-right: 8px;">add_box</i>
                        <p style="font-size:16px;">distributors add</p>
                    </a>
                    <a class="dropdown-item nav-link" routerLink="admin/distributor/view" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">ballot</i>
                        <p style="font-size:16px;">distributors view</p>
                    </a>
                    <a class="dropdown-item nav-link" routerLink="admin/distributor/edit" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">edit</i>
                        <p style="font-size:16px;">distributors edit</p>
                    </a>
                    <a class="dropdown-item nav-link" routerLink="admin/distributor/progress" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">assessment</i>
                        <p style="font-size:16px;">Progress of Distributors</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/distributor/block" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;" >phonelink_off</i>
                        <p style="font-size:16px;">Tempory block</p>
                    </a>
            </div>
        </li>

        <!-- worker dropmenu -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">supervised_user_circle</i>
                <p>
                    <span class="d-lg-none d-md-block">workers</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" routerLink="admin/worker/add" style="margin-left: 30px;
                    margin-top: 0px;" >
                        <i class="material-icons" style="margin-right: 8px;">group_add</i>
                        <p style="font-size:16px;">workers add</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/worker/view" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">group</i>
                        <p style="font-size:16px;">workers view</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/worker/edit" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">edit</i>
                        <p style="font-size:16px;">workers edit</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/worker/block" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">phonelink_off</i>
                        <p style="font-size:16px;">tempory block</p>
                    </a>
            </div>
        </li>

        <!-- estate dropmenu -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">spa</i>
                <p>
                    <span class="d-lg-none d-md-block">Estates</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" routerLink="admin/estate/add" style="margin-left: 30px;
                    margin-top: 0px;" >
                        <i class="material-icons" style="margin-right: 8px;">nature</i>
                        <p style="font-size:16px;">estates add</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/estate/view" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">nature_people</i>
                        <p style="font-size:16px;">esatates view</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/estate/edit" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">edit</i>
                        <p style="font-size:16px;">estates edit</p>
                    </a>
                    <a class="dropdown-item" routerLink="admin/estate/progres" style="margin-left: 30px;
                    margin-top: 0px;">
                        <i class="material-icons" style="margin-right: 8px;">assessment</i>
                        <p style="font-size:16px;">progress of estates</p>
                    </a>
            </div>
        </li>

        <!-- user dropmenu -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">directions_boat</i>
                <p>
                    <span class="d-lg-none d-md-block">Orders</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                <a class="dropdown-item" routerLink="admin/order/view" style="margin-left: 30px;
                            margin-top: 0px;">
                    <i class="material-icons" style="margin-right: 8px;">public</i>
                    <p style="font-size:16px;">orders view</p>
                </a>
                <a class="dropdown-item" routerLink="admin/order/edit" style="margin-left: 30px;
                            margin-top: 0px;">
                    <i class="material-icons" style="margin-right: 8px;">edit</i>
                    <p style="font-size:16px;">orders edit</p>
                </a>
                <a class="dropdown-item" routerLink="admin/order/progres" style="margin-left: 30px;
                            margin-top: 0px;">
                    <i class="material-icons" style="margin-right: 8px;">assignment</i>
                    <p style="font-size:16px;">summary of orders</p>
                </a>
            </div>
        </li>

        <!-- user dropmenu  -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">users</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                <a class="dropdown-item" routerLink="admin/user/add" style="margin-left: 30px;
                            margin-top: 0px;">
                    <i class="material-icons" style="margin-right: 8px;">person_add</i>
                    <p style="font-size:16px;">users add</p>
                </a>
                <a class="dropdown-item" routerLink="admin/user/view" style="margin-left: 30px;
                            margin-top: 0px;">
                    <i class="material-icons" style="margin-right: 8px;">person_pin</i>
                    <p style="font-size:16px;">users view</p>
                </a>
                <a class="dropdown-item" routerLink="admin/user/edit" style="margin-left: 30px;
                            margin-top: 0px;">
                    <i class="material-icons" style="margin-right: 8px;">edit</i>
                    <p style="font-size:16px;">users edit</p>
                </a>
                <a class="dropdown-item" routerLink="admin/user/block" style="margin-left: 30px;
                            margin-top: 0px;">
                    <i class="material-icons" style="margin-right: 8px;">phonelink_off</i>
                    <p style="font-size:16px;">tempory block</p>
                </a>
            </div>
        </li>
    </ul>
  </div>

  <!-- admin web side menu -->
  <div *ngIf="!isMobileMenu()">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item" >
            <a class="nav-link" [routerLink]="[menuItem.path]"  (click)="minisidebar(menuItem.path)" >
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
  </div>
</div>

<!-- mini sidebar in web for admin -->
<mat-drawer #drawer *ngIf="!isMobileMenu()" [disableClose]="true" class="example-sidenav" class="sidebar" data-color="green" data-background-color="red" style="margin-left: 100%;
height: 100%;margin-top: 50%;padding-top: 20%;z-index: 1;width: 285px;background-color:rgb(123, 194, 101);"
    data-image="./assets/img/sidebar-1.jpg">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let sideItem of sideItems" class="subitem {{sideItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[sideItem.path]" (click)="closesidebar()" >
                <i class="material-icons" style="margin-right: 14px;margin-left: 0px;">{{sideItem.icon}}</i>
                <p style="font-size:17px;width: 225px;">{{sideItem.title}}</p>
            </a>
        </li>
    </ul>
   
</mat-drawer>

