.card {
    .card-header {
        background: linear-gradient(45deg, #046e0d, #48ee1e);
    }
}

.mat-button.btn.btn-danger,
.mat-raised-button.btn.btn-danger,
.mat-raised-button.btn:not([class*='mat-elevation-z']).btn-danger,
.btn.btn-danger {
    color: #fff;
    background: linear-gradient(45deg, #046e0d, #48ee1e);
    border-color: #046e0d;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

/**************************************************************************************************/
.btn1 {
    border: 2px solid black;
    color: black;
    background-color: rgb(100, 127, 247);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.btn2 {
    border: 2px solid black;
    color: black;
    background-color: rgb(100, 127, 247);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

/**********************************************************************************************/
