<div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;padding-top: 7%;">
  <div class="title">Estate</div>	
  <div class="wrapper">
    <div class="container">
      <div class="top"></div>
      <div class="bottom">
        <div class="left">
          <h1 style="font-size: small;">Estate 1</h1>
          <div class="details">
            <h2 style="font-size: small;">Estate</h2>
            <p style="font-size: small;">£250</p>
          </div>
          <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
        </div>
        <div class="right">
          <div class="done"><i class="material-icons">done</i></div>
          <div class="details">
            <h1>Estate</h1>
            <p>Added to your estate </p>
          </div>
          <div class="remove"><i class="material-icons">clear</i></div>
        </div>
      </div>
    </div>
    <div class="inside">
      <div class="icon"><i class="material-icons">info_outline</i></div>
      <div class="contents">
        <table>
          <tr>
            <th>Owner</th>
            <th>Mr.Gunawardhana</th>
          </tr>
          <tr>
            <td>City</td>
            <td>Deniyaya</td>
          </tr>
          <tr>
            <th>Contact number</th>
            <th>041-2246895</th>
          </tr>
          <tr>
            <td>Location</td>
            <td>No:25,Estate 1,Deniyaya</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>