.card1 {
    position: absolute;
    left: 50%;
    width: 94%;
    height: 100%;
    transform: translate(-50%, -30%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
    background-color: #90b2ff;
}