<div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;padding-top: 7%;">
  <div class="row">
    <div class="col-md-8">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header card-header-pills"
          style="background-color: green;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <h4 class="card-title">Add Product</h4>
          <p class="card-category">Complete product</p>
        </div>
        <div class="card-body"> 
          <form #useraddForm=ngForm (ngSubmit)="onsubmit()">
            <div class="form-group row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput name="productname" id="productname" placeholder="Product Name" type="text"
                    [(ngModel)]="form.productname" required>
                </mat-form-field>
              </div>
            </div>
            
            <div class="form-group row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input type="text" name="type"  matInput placeholder="Packet Type" [(ngModel)]="form.type"
                    required>
                </mat-form-field>
              </div>
            </div>
          
            <div class="form-group row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Flaver" type="text" name="flaver" [(ngModel)]="form.flaver" required>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Weight" type="text" name="weight" [(ngModel)]="form.weight" required>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Price" type="number" name="price" [(ngModel)]="form.price" required>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10 offset-2">

                <button type="submit" [disabled]="!useraddForm.valid" style="background-color: green;"
                  class="btn pull-right">Add
                  Profile</button>
                <div class="alert alert-danger" [hidden]="!error">
                  {{error}}
                </div>



              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="padding-top:2% ;">

      <div class="card card-profile"
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding-left: 8%;padding-top:20%;padding-bottom: 4%;">

        <img class="img" style="width:230px;height: 230px;border-radius: 50%" [src]="form.photo" *ngIf="form.photo" />

        <ngx-uploadcare-widget images-only="true" public-key="20e3fa825a9db9a643a5"
          (on-upload-complete)="yourOnUploadHandler($event)">
        </ngx-uploadcare-widget>

      </div>
    </div>
  </div>
</div>