<div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;padding-top: 7%;">

  <div class="col-lg-11" >
    <div class="card">

      <div class="card-header card-header-danger">
        <h4 class="card-title">Estate</h4>
        <p class="card-category">All Estates</p>
      </div>

      <div class="container">
        <div class ="Row">
          <div class="col-md-3" style="padding-top: 3%;">
            <div class="wrapper">
              <div class="container">
                <div class="top"></div>
                <div class="bottom">
                  <div class="left">
                    <h1 style="font-size: medium;">Estate 1</h1>

                    <!--------------------------------------------
                    <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                    ------------------->


                  </div>
                  <div class="left">
                    <div class="done"><i class="material-icons">done</i></div>
                    <div class="details">
                      <h1>Estate</h1>
                      <p>Added to your estate </p>
                    </div>
                    <div class="remove"><i class="material-icons">clear</i></div>
                  </div>
                </div>
              </div>
              <div class="inside">
                <div class="icon"><i class="material-icons">info_outline</i></div>
                <div class="contents">
                  <!------------------------------------------------------------------------------------------------------------------------->

                  <h6><b>Ratings</b></h6>
                  <head>
                    <!------------- Font Awesome Icon Library ------------------------------->
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <style>
                      .checked {
                        color: orange
                    }
                    </style>
                  </head>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                        
                  
                  <h4>Estate Details.</h4>
                  <table>
                    <tr>
                      <th>Owner</th>
                      <th>Mr.Gunawardhana</th>
                    </tr>
                    <tr>
                      <td>City</td>
                      <td>Deniyaya</td>
                    </tr>
                    <tr>
                      <th>Contact number</th>
                      <th>041-2246895</th>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td>No:25,Estate 2,Deniyaya</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


          <div class="col-md-3" style="padding-top: 3%;" >
            <div class="wrapper">
              <div class="container">
                <div class="top"></div>
                <div class="bottom">
                  <div class="left">
                    <h1 style="font-size: medium;">Estate 2</h1>
                    
                    <!---------------------------------------------
                    <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                    ------------------->


                  </div>
                  <div class="right">
                    <div class="done"><i class="material-icons">done</i></div>
                    <div class="details">
                      <h1>Estate</h1>
                      <p>Added to your estate </p>
                    </div>
                    <div class="remove"><i class="material-icons">clear</i></div>
                  </div>
                </div>
              </div>
              <div class="inside">
                <div class="icon"><i class="material-icons">info_outline</i></div>
                <div class="contents">
                  <!------------------------------------------------------------------------------------------------------------------------->

                  <h6><b>Ratings</b></h6>
                  <head>
                   <! ------ Font Awesome Icon Library -------------------------->
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <style>
                      .checked {
                        color: orange
                    }
                    </style>
                  </head>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                        
                  
                  <h4>Estate Details.</h4>
                  <table>
                    <tr>
                      <th>Owner</th>
                      <th>Mr.Abeysekera</th>
                    </tr>
                    <tr>
                      <td>City</td>
                      <td>Deniyaya</td>
                    </tr>
                    <tr>
                      <th>Contact number</th>
                      <th>041-2245687</th>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td>No:89,Estate 2,Deniyaya</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>  
    
    </div>
  </div>


</div>