
  <div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;padding-top: 7%;">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header card-header-danger">
          <h4 class="card-title">User</h4>
          <p class="card-category">User wise</p>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row" style="margin-bottom: -15%;">
              <div class="col-3"></div>
              <div class="col-6"><h2></h2></div>
              <div class="col-3"></div>
              <div class="col-3"></div>
              <div class="col-6"><img src="form.photo" alt=""style="width:75%;height:60%"></div>
              <div class="col-3"></div>
            </div>
            <div class="row">
              <div class="col-4">
                <h4><B>Name : {{form.name}}</B></h4>
                <h4><B>Email : {{form.email}}</B></h4>
                <h4><B>Telephone : {{form.telephone}}</B></h4>
                <h4><B>Type : {{form.type}}</B></h4>
              </div>
              <div class="col-4"></div>
              <div class="col-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  